
  :root {
    --blue-forum: #00c6ff;
    
  }
  html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /* background: #F2F6FA; */
  }

  .navbar{
    background-color: rgb(11, 27, 1);
  }
   /* MAKE CENTER ON SMALL SCREENS WITH MEDIA */
   .navbar-menu, .logo{
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
  } 
  
  /* HERO */
  .hero-img{
    width:100%;
    height:50vh;
    background-size: contain ; 
   background-repeat: no-repeat;  
  }  
  
  /* SIGN UP FORM */
  .sign-up-form{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
   background: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card{
    width: 380px;
    height: 600px;
    perspective:1000px ;
  }
  
  .inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  .card-front, .card-back{
    position: absolute;
    width:auto;
    height:110%;
    background-position: center;
    background-image:url('../images/nightrider.png');
    padding:5%;
    box-sizing: border-box;
    backface-visibility: hidden;
  }
  .card-back{
    transform: rotateY(180deg);
  }
  .card h2{
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:#fff;
  }
  .input-box{
    width: 100%;
    background:transparent;
    border: 1px solid #fff;
    margin: 6px 0;
    height: 32px;
    border-radius:20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
  }
  ::placeholder{
    color:#fff;
    font-size: 12px;
  }
  button{
    width: 100%;
    background:transparent;
    border: 1px solid #fff;
    margin: 35px 0 10px;
    height: 32px;
    font-size: 12px;
    border-radius:20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: pointer;
  }
  .submit-btn{
    position: relative;
  }
  .submit-btn::after{
    content: "\27A4";
    color: #333;
    line-height: 32px;
    font-size: 17px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background:rgb(6, 240, 45);
    position:absolute;
    right: -1px;
    top: -1px;
  }
  span{
    font-size:13px;
    margin-left: 10px;
    color: #fff;
  }
  .card-btn{
    margin-top: 70px;
  }
  .card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 8px;
  }

  /* NEW POST BUTTON */
  .new-post .columns {
    margin: 3rem 0;
  }
  /* TAGS */ 
  
  aside.menu {
    padding-top: 3rem;
  }
  aside.menu .menu-list {
    line-height: 1.5;
  }
  aside.menu .menu-label {
    padding-left: 10px;
    font-weight: 700;
  }
  /* NEW POST BUTTON */
  .button.is-primary.is-alt {
    background: var(--blue-forum);
    background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
    background: linear-gradient(to bottom, #0072ff, #00c6ff);
    font-weight: 700;
    font-size: 14px;
    height: 3rem;
    line-height: 2.8;
    margin: 9px;
  
  }
  /* STYLING FOR COMMENTERS PHOTOS */
  .media-left img {
    border-radius: 50%;
  }
  /* STYLING FOR FORUM POST ON LANDING */
  .media-content p {
    font-size: 14px;
    line-height: 2.3;
    font-weight: 700;
    color: #090d11;
  }
  article.post {
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E6EAEE;
  }
  article.post:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  .menu-list li{
    padding: 5px;
  }
  
/* FORUM POST LANDING PAGE */
