{{> nav/nav-block}}
<h1 class="about-header"><strong>About Plugged In</strong></h1>
<p class="about">Plugged In was started as a group project in a coding bootcamp. With a lot of work 
    and a few sleepless nights, this site was born. Born might be a stretch. Cobbled together
    would be more accurate. 
</p>
<p class="about">It was built on Node.js with the help of Express, Sequelize, Handlebars.js, passport, and a 
    whole lot of faith. We used Heroku to deploy this app which also allows for easy database attachment,
    the database is through jawsDB which actually has our database hosted in AWS.
</p>