

{{> nav/nav-block}} 
{{> modal/login-block}}
<section id="main-container" class="section">
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead">Welcome to <strong>Plugged In!</strong></p>
    <p>The app that allows you to connect to others in the EV community! 
      After Registration, you will be able to post and comment on various forums, 
      all aimed towards electric vehicles.</p>
    <hr class="my-4">
    <div>
      {{#if isloggedin}}
        You are logged in as {{user.firstName}}
        <a href="/logout"> <button type="btn" class="btn">Logout</button></a>
      {{else}}
      <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-danger is-vertical"id="maintile">
          <p class="title main-tile">You need to log in or register to use this app.</p>
          <p class="subtitle main-tile">All we require is your name, email address and a password!</p>
        </article>
        </div>
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</section>


