<div class="container">
        <div class=" field has-addons">
            <div class="control ">
                <input class="input" type="text" placeholder="Find a repository">
            </div>
            <div class="control">
                <a class="button is-info">
                    Search
                </a>
            </div>
        </div>
    </div>

    <!-- FORUM POST BEGINS -->
    <div class="columns is-desktop">
        <div class="column is-three-quarters-desktop">
            <h2 class="title">General Electric Vehicle Discussion
                </h2>
            <div class="table-responsive">
                <table class="table is-striped is-bordered is-fullwidth">
                    <thead>
                        <tr>
                            <th scope="col" class="forum-col">Forum</th>
                            <th scope="col">Topics</th>
                            <th scope="col">Posts</th>
                            <th scope="col" class="last-post-col">Last post</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h3 class="title is-5 is-marginless"><a href="topic-outline"
                                        class="is-uppercase">Forum
                                        name</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                                    lorem
                                    sed
                                    elementum.</p>
                            </td>
                            <td>
                                <div>5</div>
                            </td>
                            <td>
                                <div>18</div>
                            </td>
                            <td>
                                <h4 class="title is-6 has-text-weight-bold is-marginless"><a href="discussion">Post
                                        name</a>
                                </h4>
                                <div>by <a href="#0">Author name</a></div>
                                <div>17 Apr 2022, 20:07</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="title is-5 is-marginless"><a href="topic-outline"
                                        class="is-uppercase">Forum
                                        name</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                                    lorem
                                    sed
                                    elementum.</p>
                            </td>
                            <td>
                                <div>5</div>
                            </td>
                            <td>
                                <div>18</div>
                            </td>
                            <td>
                                <h4 class="title is-6 has-text-weight-bold is-marginless"><a href="discussion">Post
                                        name</a>
                                </h4>
                                <div>by <a href="#0">Author name</a></div>
                                <div>17 Apr 2022, 20:07</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="title is-5 is-marginless"><a href="topic-outline"
                                        class="is-uppercase">Forum
                                        name</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                                    lorem
                                    sed
                                    elementum.</p>
                            </td>
                            <td>
                                <div>5</div>
                            </td>
                            <td>
                                <div>18</div>
                            </td>
                            <td>
                                <h4 class="title is-6 has-text-weight-bold is-marginless"><a href="discussion">Post
                                        name</a>
                                </h4>
                                <div>by <a href="#0">Author name</a></div>
                                <div>17 Apr 2022, 20:07</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="title is-5 is-marginless"><a href="topic-outline"
                                        class="is-uppercase">Forum
                                        name</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                                    lorem
                                    sed
                                    elementum.</p>
                            </td>
                            <td>
                                <div>5</div>
                            </td>
                            <td>
                                <div>18</div>
                            </td>
                            <td>
                                <h4 class="title is-6 has-text-weight-bold is-marginless"><a href="discussion">Post
                                        name</a>
                                </h4>
                                <div>by <a href="#0">Author name</a></div>
                                <div>17 Apr 2022, 20:07</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="title is-5 is-marginless"><a href="topic-outline"
                                        class="is-uppercase">Forum
                                        name</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                                    lorem
                                    sed
                                    elementum.</p>
                            </td>
                            <td>
                                <div>5</div>
                            </td>
                            <td>
                                <div>18</div>
                            </td>
                            <td>
                                <h4 class="title is-6 has-text-weight-bold is-marginless"><a href="discussion">Post
                                        name</a>
                                </h4>
                                <div>by <a href="#0">Author name</a></div>
                                <div>17 Apr 2022, 20:07</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
