{{> nav/nav-block}} 

<h1>RESEARCH</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<div class="searching"></div>
<form class="example">
  <input type="text" placeholder="Search.." id="vehiclesearch" name="search">
  <button type="submit" id="research"><i class="fa fa-search"></i></button>
</form>
</div>
<script src="assets/js/research.js"></script>
