{{> nav/nav-block}}

<h1>RESEARCH</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="researchBox">
<!-- The Search Make -->
<div class="searching">
  <form class="example">
    <input type="text" placeholder="Make Model" id="vehiclesearch" name="search">
    <button type="submit" id="research"><i class="fa fa-search"></i></button>
  </form>
</div>
{{!-- checkbox FUTURE FEATURE--}}
{{!-- <div class="selectBox">
  <label class="container class=selectBox">Make
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>

  <label class="container class=selectBox">Model
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>

  <label class="container class=selectBox">Year
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>

  <label class="container class=selectBox">Drive
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
</div> --}}

<div class="vehiclecontainer mt-4">
    <table id="vehicleSearch" class="table is-bordered">
      <caption>Vehicle Search</caption> 
      <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>City MPG</th>
        <th>Fuel Type</th>
      </tr>
      </thead>

      <tbody id="tableBody">

      </tbody>
    </table>
  </div> {{!-- TODO: vehicle search div --}}

  {{!-- <table class="searchEVvehicle">
    <table id="evvehicle">
      <caption>Electric Vehicles</caption>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>City MPG</th>
        <th>Fuel Type</th>

      </tr>

    </table> --}}
</div>
<script src="assets/js/research.js"></script>