    {{> nav/nav-block }}
    <!-- HERO IMG -->
   


   <!-- NEW POST BUTTON -->
        <div class="new-post2">
            <div class="column">
                <div class="column is-3">
                    <a class="button is-primary is-block is-alt is-large" href="newpost">New Post</a>
                </div>
            </div>
        </div>
  <div class="columns is-desktop is-centered">
            <div class="column is-three-quarters-desktop">
                <h2 class="title"><a href="forum-topics.html">General Electric Vehicle Discussion
                    </a></h2>

                <div class="table-responsive">
                    <table class="table is-striped is-bordered is-fullwidth">
                        <thead>
                            <tr>
                                <th scope="col" class="forum-col">Forum</th>
                                <th scope="col">Topics</th>
                                <th scope="col">Posts</th>
                                <th scope="col" class="last-post-col">Last post</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 class="title is-5 is-marginless"><a href="topics-outline.html"
                                            class="is-uppercase">Forum
                                            name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet
                                        pellentesque
                                        lorem
                                        sed
                                        elementum.</p>
                                </td>
                                <td>
                                    <div>5</div>
                                </td>
                                <td>
                                    <div>18</div>
                                </td>
                                <td>
                                    <h4 class="title is-6 has-text-weight-bold is-marginless"><a
                                            href="discussion.html">Post
                                            name</a>
                                    </h4>
                                    <div>by <a href="#0">Author name</a></div>
                                    <div>17 Apr 2022, 20:07</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    <script src="/assets/js/example.js"></script>

    <script>
  var userId = {{userInfo.id}};
</script>
{{> modal/login-block}}