    {{> nav/nav-block }}
    <!-- HERO IMG -->
   

    <h2 class="title">Forum name</h2>
    <div class="table-responsive">
        <table class="table is-striped is-bordered is-fullwidth">
            <thead>
                <tr>
                    <th scope="col" class="topic-col">Topic</th>
                    <th scope="col" class="created-col">Created</th>
                    <th scope="col">Statistics</th>
                    <th scope="col" class="last-post-col">Last post</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h3><span class="tag is-primary">7 unread</span> <a href="question.html">Forum post
                                title with a complex and long question</a></h3>
                        <div class="small">Go to page: <a href="#0">1</a>, <a href="#0">2</a>, <a href="#0">3</a>
                            &hellip; <a href="#0">7</a>, <a href="#0">8</a>, <a href="#0">9</a></div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>12 Apr 2022, 13:46</div>
                    </td>
                    <td>
                        <div>5 replies</div>
                        <div>179 views</div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>17 Apr 2022
                            , 20:07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><span class="tag is-primary">4 unread</span> <a href="question.html">Forum post
                                title
                                with a complex and long question</a></h3>
                        <div class="small">Go to page: <a href="#0">1</a>, <a href="#0">2</a>, <a href="#0">3</a>
                            &hellip; <a href="#0">7</a>, <a href="#0">8</a>, <a href="#0">9</a></div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>12 Apr 2022, 13:46</div>
                    </td>
                    <td>
                        <div>5 replies</div>
                        <div>179 views</div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>17 Apr 2022
                            , 20:07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><span class="tag is-primary">1 unread</span> <a href="question.html">Forum post
                                title
                                with a complex and long question</a></h3>
                        <div class="small">Go to page: <a href="#0">1</a>, <a href="#0">2</a>, <a href="#0">3</a>
                            &hellip; <a href="#0">7</a>, <a href="#0">8</a>, <a href="#0">9</a></div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>12 Apr 2022, 13:46</div>
                    </td>
                    <td>
                        <div>5 replies</div>
                        <div>179 views</div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>17 Apr 2022
                            , 20:07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><a href="question.html">Forum post title with a complex and long question</a></h3>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>12 Apr 2022, 13:46</div>
                    </td>
                    <td>
                        <div>5 replies</div>
                        <div>179 views</div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>17 Apr 2022
                            , 20:07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><a href="question.html">Forum post title with a complex and long question</a></h3>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>12 Apr 2022, 13:46</div>
                    </td>
                    <td>
                        <div>5 replies</div>
                        <div>179 views</div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>17 Apr 2022
                            , 20:07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><a href="question.html">Forum post title with a complex and long question</a></h3>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>12 Apr 2022, 13:46</div>
                    </td>
                    <td>
                        <div>5 replies</div>
                        <div>179 views</div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>17 Apr 2022
                            , 20:07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><a href="question.html">Forum post title with a complex and long question</a></h3>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>12 Apr 2022, 13:46</div>
                    </td>
                    <td>
                        <div>5 replies</div>
                        <div>179 views</div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>17 Apr 2022
                            , 20:07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><a href="question.html">Forum post title with a complex and long question</a></h3>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>12 Apr 2022, 13:46</div>
                    </td>
                    <td>
                        <div>5 replies</div>
                        <div>179 views</div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>17 Apr 2022
                            , 20:07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><a href="question.html">Forum post title with a complex and long question</a></h3>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>12 Apr 2022, 13:46</div>
                    </td>
                    <td>
                        <div>5 replies</div>
                        <div>179 views</div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>17 Apr 2022
                            , 20:07</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3><a href="question.html">Forum post title with a complex and long question</a></h3>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>12 Apr 2022, 13:46</div>
                    </td>
                    <td>
                        <div>5 replies</div>
                        <div>179 views</div>
                    </td>
                    <td>
                        <div>by <a href="#">Author name</a></div>
                        <div>17 Apr 2022
                            , 20:07</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
            <li><a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a></li>
            <li><a class="pagination-link" aria-label="Goto page 2">2</a></li>
            <li><a class="pagination-link" aria-label="Goto page 3">3</a></li>
            <li><a class="pagination-link" aria-label="Goto page 4">4</a></li>
            <li><a class="pagination-link" aria-label="Goto page 5">5</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link" aria-label="Goto page 31">31</a></li>
        </ul>
    </nav>
    <a href="/newpost" class="button is-large is-primary">New topic</a>
    <script src="/assets/js/example.js"></script>

    <script>
  var userId = {{userInfo.id}};
</script>
{{> modal/login-block}}