/* body {
  color: white;
  background-size: cover;
  height:100%
}

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}

.btn {
  color:white;
  background:#cadde1;
  border: 1px solid white;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.container {
  padding-bottom: 2%;
  margin-top: 10%;
  background: rgba(86, 101, 115,.6);
  height:100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 600px;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #444;
} */

html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  /* background: #F2F6FA; */
}

.navbar{
  background-color: rgb(11, 27, 1);
}
 /* MAKE CENTER ON SMALL SCREENS WITH MEDIA */
 .navbar-menu, .logo{
  padding: 0 2rem;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
} 
/* #hero{
  width:100%;
  height:50vh;
  background-size: contain ; 
 background-repeat: no-repeat;  
}    */

/* OG HERO IMG */
.hero-img{
  width: 100%;
  height:60vh;
  object-fit: cover;
}   
/* HERO IMG TOPICS.HTML 
.hero-img2{
  width:100a%;
  height:70vh;
  object-fit: cover;
}   
/* FORM & SEARCH BAR */
.field.has-addons {
  /* display: flex; */
  justify-content: right;
}

/* SIGN UP FORM */
.sign-up-form{
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
 background: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width: 380px;
  height: 600px;
  perspective:1000px ;
  background-color: #c57676;
}

.modal-content {
  overflow: hidden;
}
.inner-box{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.card-front, .card-back{
  position: absolute;
  width:auto;
  height:110%;
  background-position: center;
  background-image: url('/public/assets/images/nightrider.png'); 
  padding: 5%;
  box-sizing: border-box;
  backface-visibility: hidden;
}
.card-back{
  transform: rotateY(180deg);
}
.card h2{
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color:#fff;
}
.input-box{
  width: 100%;
  background-color: #5783b9;
  border: 1px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius:20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
::placeholder{
  color:#fff;
  font-size: 12px;
}
button{
  width: 100%;
  background-color: rgb(63, 93, 119);
  border: 1px solid #fff;
  margin: 35px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius:20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
}
#cancel {
  width: 100%;
  background-color: rgb(141, 0, 0);
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}
.submit-btn{
  position: relative;
}
.submit-btn::after{
  color: #333;
  line-height: 32px;
  font-size: 17px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background:rgb(46, 190, 142);
  position:absolute;
  right: -1px;
  top: -1px;
}
span{
  font-size:13px;
  margin-left: 10px;
  color: #fff;
}
.card-btn{
  margin-top: 70px;
}
.card a{
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: -3px;
}

/* NEW POST BUTTON */
.new-post .columns {
  margin: 3rem 0;
}
/* TAGS */ 

aside.menu {
  padding-top: 3rem;
}
aside.menu .menu-list {
  line-height: 1.5;
}
aside.menu .menu-label {
  padding-left: 10px;
  font-weight: 700;
}
/* NEW POST BUTTON */
.button.is-primary.is-alt {
  background: #00c6ff;
  background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
  margin: 9px;

}
#choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options {
  width: 450px;
  padding-right: 50px;
}
/* STYLING FOR COMMENTERS PHOTOS */
.media-left img {
  border-radius: 50%;
}
/* STYLING FOR FORUM POST ON LANDING */
.media-content p {
  font-size: 14px;
  line-height: 2.3;
  font-weight: 700;
  color: #8F99A3;
}
article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.menu-list li{
  padding: 5px;
}
.tile {
  display: flex;
  align-items: center;
  text-align: center;
}
.main-tile {
  font-size: 15px;
}
.logo {
  margin: 0px;
  padding: 3px;
  
}
